@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
$fuente: 'Oswald', sans-serif;
*{
	margin: 0;
	padding: 0;
}

div.actriz{
	position: relative;
	overflow: hidden;
	max-width: 500px;
	max-height: 333px;
	display: block;
	margin: 40px auto;

	background: skyblue;

	&:hover{
		img{
			opacity: 1;
			transform: translateX(0);
		}

		div.texto{

			h2{
				transform: translateY(0);
			}

			p{
				transform: translateY(0);
				opacity: 1;
			}
		}


	}

	img{
		position: relative;
		display: block;
		width: calc(100% + 50px);
		opacity: 0.7;

		transform: translateX(-40px);

		transition: opacity 0.35s, transform 0.35s;

	}

	a{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}

	div.texto{
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 2.2em;
		color: #fff;
		font-size: 1.25em;
		font-family: $fuente;
		text-shadow: 1px 1px black;

		h2{
			transform: translateY(40px);

			transition: transform 0.35s;
		}

		p{
			opacity: 0;
			transform: translateY(40px);

			transition: opacity 0.2s, transform 0.35s;
		}
	}
}

